.altinci-card { background-color: transparent;
                width: 190px;
                height: 254px;
                perspective: 1000px;
                font-family: sans-serif;}

.title {font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        margin: 0;}

.altinci-card-inner {position: relative;
                     width: 100%;
                     height: 100%;
                     text-align: center;
                     transition: transform 0.8s;
                     transform-style: preserve-3d;}

.altinci-card:hover .altinci-card-inner {transform: rotateY(180deg); }

.altinci-card-on, .altinci-card-arka {  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
                                        position: absolute;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        width: 100%;
                                        height: 100%;
                                        -webkit-backface-visibility: hidden;
                                        backface-visibility: hidden;
                                        border: 1px solid goldenrod;
                                        border-radius: 1rem;}

.altinci-card-on {  background-image: url("https://www.kulturportali.gov.tr/repoKulturPortali/Dokumanlar/ADANASEYHANNEHRIKIYILARIGULCANACAR25_20171016143117770.jpg?format=jpg&quality=50"); 
                    background-color: lightseagreen; 
                    background-position: center;
                    background-size: cover; }

.altinci-card-arka {background: linear-gradient(120deg, seagreen, lightseagreen 88%,
                    seagreen 40%, seagreen 78%);
                    color: white;
                    transform: rotateY(180deg); }