.birinci-card { background-color: transparent;
                width: 190px;
                height: 254px;
                perspective: 1000px;
                font-family: sans-serif;}

.title {font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        margin: 0;}

.birinci-card-inner {position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;}

.birinci-card:hover .birinci-card-inner {transform: rotateY(180deg);}

.birinci-card-on, .birinci-card-arka {box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-backface-visibility: hidden;
                                    backface-visibility: hidden;
                                    border: 1px solid green;
                                    border-radius: 1rem;}

.birinci-card-on {background-image: url("https://rizedeyiz.com/Arsiv/Haber/2023/10/21/Haber_1697902888.jpg"); 
                  background-color: lightgreen; 
                  background-position: center;
                  background-size: cover;}

.birinci-card-arka {background: linear-gradient(120deg, green, lightgreen 88%,
                    green 40%, green 78%);
                    color: white;
                    transform: rotateY(180deg);}